html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.home {
  width: 300px;
  margin: 50px auto 0;
}
.home .titel h1 {
  font-family: BigNoodleTitling, sans-serif;
  font-size: 5.8em;
  text-align: center;
}
.home .titel h1 a:link {
  color: #D64343;
}
.home .titel h1 a:hover {
  color: #FFFFFF;
}
.home .titel h1 a:visited {
  color: #D64343;
}
.home .homeWrap {
  background-color: #D64343;
  width: 300px;
  padding: 20px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  -ms-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  -o-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
}

.homeForm h1 {
  color: #F1F1F1;
  font-size: 2.2em;
  font-family: BigNoodleTitling, sans-serif;
  margin: 0 0 10px 0;
}
.homeForm .formItem {
  width: 250px;
  height: 20px;
  padding: 5px;
  margin: 10px 0 7px 18px;
  border: none;
  background-color: #F1F1F1;
  box-shadow: inset 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
}
.homeForm .formItem::-webkit-input-placeholder {
  color: #969696;
}
.homeForm .formItem:focus {
  outline-color: #D64343;
  background-color: #FFFFFF;
}
.homeForm .formInput {
  margin: 10px 0 7px 18px;
}
.homeForm .loginBtn,
.homeForm .registerBtn {
  width: 100px;
  height: 20px;
  padding: 5px;
  margin: 10px 0 5px 18px;
  border-radius: 0px;
  display: block;
}
.homeForm .formTextarea {
  resize: none;
  padding: 5px;
  margin: 10px 0 5px 18px;
  border: none;
  background-color: #F1F1F1;
  box-shadow: inset 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
}
.homeForm .formTextarea::-webkit-input-placeholder {
  color: #969696;
}
.homeForm label {
  color: #F1F1F1;
  margin: 10px 0 5px 18px;
  font-size: 0.8em;
}
.homeForm .error-message {
  font-size: 0.7em;
  background: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  padding: 3px;
  margin-right: 18px;
  clear: both;
  float: right;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.homeForm .hidden {
  display: none;
}

.registerHome h1 {
  color: #F1F1F1;
  font-size: 2.2em;
  font-family: BigNoodleTitling, sans-serif;
  margin: 50px 0 10px 0;
}
.registerHome .registerBtn {
  display: block;
  text-align: center;
  width: 260px;
  height: 40px;
  padding-top: 10px;
  margin: 10px 0 5px 18px;
  background-color: #FFFFFF;
  border: none;
  font-size: 1.8em;
  font-family: BigNoodleTitling, sans-serif;
  text-decoration: none;
}
.registerHome .registerBtn:visited {
  color: #D64343;
}

.navBar {
  width: 100%;
  height: 10px;
  padding: 10px 0 10px 0;
}
.navBar p {
  display: inline-block;
}
.navBar a, .navBar p {
  text-decoration: none;
  font-family: BigNoodleTitling, sans-serif;
  font-size: 1.4em;
  color: black;
}
.navBar .backBtn {
  margin-left: 40px;
}
.navBar .addBtn {
  margin-left: 30%;
  text-align: center;
}
.navBar .logoutBtn {
  float: right;
  margin-right: 40px;
}

.wrapper {
  width: 95%;
  margin: 20px auto;
}

.projectPannel {
  width: 310px;
  height: 660px;
  padding: 20px;
  margin-right: 10px;
  background-color: #D64343;
  float: left;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  -ms-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  -o-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
}
.projectPannel h1 {
  font-family: BigNoodleTitling, sans-serif;
  color: #FFFFFF;
  font-size: 3.3em;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 10px;
}
.projectPannel h1 span {
  font-size: 0.6em;
}
.projectPannel .intro {
  font-family: helveticaNeue, sans-serif;
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 0.8em;
}
.projectPannel .intro span {
  font-weight: bold;
}
.projectPannel .introLi {
  font-family: helveticaNeue, sans-serif;
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 0.8em;
  list-style-type: square;
  margin: 5px 0 5px 20px;
}
.projectPannel .addProject {
  display: block;
  width: 280px;
  height: 280px;
  margin: 30px auto;
  color: #F1F1F1;
  text-decoration: none;
  background-image: url("../assets/img/addProjectHover.png");
  transition: background-image 0.2s ease;
}
.projectPannel .addProject:hover {
  background-image: url("../assets/img/addProject.png");
}

.projectItem {
  width: 290px;
  padding: 15px 15px 20px 15px;
  float: left;
  margin: 0 10px 10px 0;
  background-color: #D64343;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  -ms-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  -o-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
}
.projectItem h1 {
  color: #F1F1F1;
  font-size: 2.2em;
  font-family: BigNoodleTitling, sans-serif;
  margin: 0 0 10px 0;
}
.projectItem .tussenTitel {
  font-family: helveticaNeue, sans-serif;
  color: #F1F1F1;
}
.projectItem .projectSession {
  width: 250px;
  height: 200px;
  border: 1px solid #FFFFFF;
  margin: 10px auto;
}
.projectItem .addSession {
  width: 20px;
  height: 20px;
  display: block;
  background-image: url("../assets/img/addProject.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
.projectItem .description {
  color: #F1F1F1;
  margin: 0 5px 10px 5px;
}
.projectItem a {
  text-decoration: none;
  color: #F1F1F1;
  transition: color 0.1s ease;
}
.projectItem a:hover {
  color: black;
}
.projectItem a img {
  margin-right: 5px;
}

.addObject {
  width: 780px;
  height: 20px;
  padding: 10px;
  margin: 20px auto;
  background-color: #D64343;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.1);
  -ms-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.1);
  -o-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.1);
  z-index: -1;
}
.addObject li {
  margin-right: 120px;
  float: left;
}
.addObject li a {
  text-decoration: none;
  color: white;
  transition: color 0.2s ease;
}
.addObject li a:hover {
  color: black;
}
.addObject .lastLi {
  margin-right: 0px;
}

.whiteboard {
  width: 1200px;
  margin: -60px auto 20px;
  height: 800px;
  background-color: white;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  -ms-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  -o-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  transition: margin 0.2s ease;
}

.moveWBoard {
  margin: 0 auto 20px;
}

.wNav {
  width: 1200px;
  height: 10px;
  padding: 10px 0 10px 30px;
  margin: 0 auto;
}
.wNav p {
  display: inline-block;
}
.wNav a, .wNav h1 {
  text-decoration: none;
  font-family: BigNoodleTitling, sans-serif;
  font-size: 1.4em;
  color: black;
}
.wNav li {
  float: left;
  margin-right: 305px;
}
.wNav .lastLi {
  margin-right: 0px;
}
.wNav .backBtn {
  margin-left: 40px;
}
.wNav .addBtn {
  margin-left: 30%;
  text-align: center;
}
.wNav .logoutBtn {
  float: right;
  margin-right: 40px;
}

.end {
  width: 265px;
  text-decoration: none;
  margin: 0 auto;
  display: block;
  color: rgba(50, 50, 50, 0.5);
  transition: color 0.2s ease;
}
.end:hover {
  color: #323232;
}

.moveEnd {
  top: 800px;
}

body {
  background-color: #F1F1F1;
  font-family: helveticaNeue, sans-serif;
}

#session_messages {
  transition: 1s;
}
#session_messages div {
  transition: 1s;
}

.succes, .error {
  background: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  font-size: 0.9em;
  padding: 4px;
  width: 300px;
  margin-left: 18px;
  transition: 1s ease;
}

.img_vervangenDoorCirkel {
  width: 100px;
  height: 100px;
  background-color: #F39A00;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.video_vervangenDoorCirkel {
  width: 100px;
  height: 100px;
  background-color: #43BCE3;
  position: absolute;
  border-radius: 25%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.postIt_vervangenDoorCirkel {
  width: 200px;
  height: 150px;
  background-color: #88B916;
  position: absolute;
  border-radius: 2%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.todo_vervangenDoorCirkel {
  width: 150px;
  height: 250px;
  background-color: #FF0080;
  position: absolute;
  border-radius: 2%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
