html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  background-color: #F1F1F1;
  font-family: helveticaNeue, sans-serif;
}

.home {
  width: 300px;
  margin: 50px auto 0;
}
.home .titel h1 {
  font-family: BigNoodleTitling, sans-serif;
  font-size: 5.8em;
  text-align: center;
}
.home .titel h1 a:link {
  color: #D64343;
}
.home .titel h1 a:hover {
  color: #FFFFFF;
}
.home .titel h1 a:visited {
  color: #D64343;
}
.home .homeWrap {
  background-color: #D64343;
  width: 300px;
  padding: 20px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  -ms-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  -o-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
}

.homeForm h1 {
  color: #F1F1F1;
  font-size: 2.2em;
  font-family: BigNoodleTitling, sans-serif;
  margin: 0 0 10px 0;
}
.homeForm .formItem {
  width: 250px;
  height: 20px;
  padding: 5px;
  margin: 10px 0 7px 18px;
  border: none;
  background-color: #F1F1F1;
  box-shadow: inset 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
}
.homeForm .formItem::-webkit-input-placeholder {
  color: #969696;
}
.homeForm .formItem:focus {
  outline-color: #D64343;
  background-color: #FFFFFF;
}
.homeForm .formInput {
  margin: 10px 0 7px 18px;
}
.homeForm .loginBtn,
.homeForm .registerBtn {
  width: 100px;
  height: 20px;
  padding: 5px;
  margin: 10px 0 5px 18px;
  border-radius: 0px;
  display: block;
}
.homeForm .formTextarea {
  resize: none;
  padding: 5px;
  margin: 10px 0 5px 18px;
  border: none;
  background-color: #F1F1F1;
  box-shadow: inset 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
}
.homeForm .formTextarea::-webkit-input-placeholder {
  color: #969696;
}
.homeForm label {
  color: #F1F1F1;
  margin: 10px 0 5px 18px;
  font-size: 0.8em;
}

.registerHome h1 {
  color: #F1F1F1;
  font-size: 2.2em;
  font-family: BigNoodleTitling, sans-serif;
  margin: 50px 0 10px 0;
}
.registerHome .registerBtn {
  display: block;
  text-align: center;
  width: 260px;
  height: 40px;
  padding-top: 10px;
  margin: 10px 0 5px 18px;
  background-color: #FFFFFF;
  border: none;
  font-size: 1.8em;
  font-family: BigNoodleTitling, sans-serif;
  text-decoration: none;
}
.registerHome .registerBtn:visited {
  color: #D64343;
}

/*----------PROJECTENOVERZICHT-----------*/
.wrapper {
  width: 95%;
  margin: 20px auto;
  overflow: auto;
}

.projectPannel {
  width: 310px;
  height: 660px;
  padding: 20px;
  margin-right: 10px;
  background-color: #D64343;
  float: left;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  -ms-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  -o-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
}
.projectPannel h1 {
  font-family: BigNoodleTitling, sans-serif;
  color: #FFFFFF;
  font-size: 3.3em;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 10px;
}
.projectPannel h1 span {
  font-size: 0.6em;
}
.projectPannel .intro {
  font-family: helveticaNeue, sans-serif;
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 0.8em;
}
.projectPannel .addProject {
  display: block;
  width: 280px;
  height: 280px;
  margin: 30px auto;
  border: 2px solid #FFFFFF;
}

.projectItem {
  width: 280px;
  padding: 15px;
  float: left;
  margin: 0 10px 0 0;
  background-color: #D64343;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  -ms-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  -o-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
}
.projectItem h1 {
  color: #F1F1F1;
  font-size: 2.2em;
  font-family: BigNoodleTitling, sans-serif;
  margin: 0 0 10px 0;
}
.projectItem .tussenTitel {
  font-family: helveticaNeue, sans-serif;
  color: #F1F1F1;
}
.projectItem .projectSession {
  width: 250px;
  height: 200px;
  border: 1px solid #FFFFFF;
  margin: 10px auto;
}

.navBar {
  width: 100%;
  height: 10px;
  padding: 10px 0 10px 0;
}
.navBar a {
  text-decoration: none;
  font-family: BigNoodleTitling, sans-serif;
  font-size: 1.4em;
}
.navBar .backBtn {
  margin-left: 40px;
}
.navBar .addBtn {
  margin-left: 40%;
  text-align: center;
}
.navBar .logoutBtn {
  float: right;
  margin-right: 40px;
}
