.addObject{
	width: 1000px;
	height: 35px;
	padding: 10px;
	margin: 20px auto;
	background-color: $loginColor;
	@include prefix(border-radius, 3px);
	@include prefix(box-shadow, 0px 0px 11px 0px rgba(50, 50, 50, 0.10));
	z-index: -1;

	ul{
		float: left;
		margin-right: 20px;
		transition: opacity 0.3s ease;

		li{
			//margin-right: 120px;
			float: left; 
			.underLi{
				float: none;
			}

			a{
				text-decoration: none;
				color: white;
				transition: color 0.2s ease;
				&:hover{
					color: black;
				}
			}
		}
	}
	
	.addItem{
		margin: 10px 150px 0 0;
	}

	.lastLi{
		margin-right: 0px;
	}

	.firstLi{
		margin-left: 100px;
	}

	.formAdd{
		margin-left: 10px;
		label{
			width: 80px;
			display: inline-block;
			color: #FFF;
		}
	}
}

.whiteboard{
	width: 1180px;
	margin: -75px auto 20px;
	height: 780px;
	padding: 10px;
	background-color: white;
	@include prefix(border-radius, 2px);
	@include prefix(box-shadow, 0px 0px 11px 0px rgba(50, 50, 50, 0.25));
	transition: margin 0.2s ease;
}
.moveWBoard{
	margin: 0 auto 20px;
}

.hide{
	height: 0;
 	overflow: hidden;
 	opacity: 0;
}

.wNav{
	width: 1200px;
	height: 10px;
	padding: 10px 0 10px 30px;
	margin: 0 auto;

	p{
		display: inline-block;
	}

	a,h1{
		text-decoration: none;
		font-family: BigNoodleTitling, sans-serif;
		font-size: 1.4em;
		color: black;
	}
	li{
		float: left;
		width: 200px;
		margin-right: 100px;
		text-align: center;
	}
	.lastLi{
		margin-right: 0px;
	}
	
	.backBtn{
		margin-left: 40px;
	}

	.addBtn{
		margin-left: 30%;
		text-align: center;
	}

	.logoutBtn{
		float: right;
		margin-right: 40px;
	}
}

.end{
	width: 265px;
	text-decoration: none;
	margin: 0 auto;
	display: block;
	color: rgba(50, 50, 50, 0.5);
	transition: color 0.2s ease;
	&:hover{
		color: rgb(50,50,50);
	}
}
.moveEnd{
	top: 800px;
}

/*-----------OBJECTEN------------*/
/*-----------NOTE------------*/

.note{
	padding: 10px;
	background-color: #B3DEFF;
	width: 270px;
	margin: 5px;
	position: absolute;
	@include prefix(box-shadow, 0px 0px 11px 0px rgba(50, 50, 50, 0.25));
	p{
		width: 250px;
		margin: 10px auto;
	}
	a{
		text-decoration: none;
		color: white;
	}
}

/*-----------TODO------------*/

.todo{
	width: 300px;
	padding: 10px;
	background-color: #92D1B4;
	margin: 5px;
	position: absolute;
	float: right;
	@include prefix(box-shadow, 0px 0px 11px 0px rgba(50, 50, 50, 0.25));
	li{
		width: 280px;
		margin: 10px auto;
	}
	a{
		text-decoration: none;
		color: white;
	}
}

.video-object, .img-object{
	position: absolute;
}




