.addObject{
	width: 780px;
	height: 20px;
	padding: 10px;
	margin: 20px auto;
	background-color: $loginColor;
	@include prefix(border-radius, 3px);
	@include prefix(box-shadow, 0px 0px 11px 0px rgba(50, 50, 50, 0.10));
	z-index: -1;


	li{
		margin-right: 120px;
		float: left; 

		a{
			text-decoration: none;
			color: white;
			transition: color 0.2s ease;
			&:hover{
				color: black;
			}
		}
	}
	.lastLi{
		margin-right: 0px;
	}
}

.whiteboard{
	width: 1200px;
	margin: 0 auto 20px;
	height:800px;
	background-color: white;
	@include prefix(border-radius, 2px);
	@include prefix(box-shadow, 0px 0px 11px 0px rgba(50, 50, 50, 0.25));
}

.wNav{
	width: 1200px;
	height: 10px;
	padding: 10px 0 10px 30px;
	margin: 0 auto;

	p{
		display: inline-block;
	}

	a,h1{
		text-decoration: none;
		font-family: BigNoodleTitling, sans-serif;
		font-size: 1.4em;
		color: black;
	}
	li{
		float: left;
		margin-right: 309px;
	}
	.lastLi{
		margin-right: 0px;
	}
	
	.backBtn{
		margin-left: 40px;
	}

	.addBtn{
		margin-left: 30%;
		text-align: center;
	}

	.logoutBtn{
		float: right;
		margin-right: 40px;
	}
}

.end{
	width: 265px;
	text-decoration: none;
	margin: 0 auto;
	display: block;
	color: rgba(50, 50, 50, 0.5);
	transition: color 0.2s ease;
	&:hover{
		color: rgb(50,50,50);
	}
}