@import 'base';
@import 'mixins';

$bgColor: #F1F1F1;
$loginColor: #D64343;
$tussenTitelColor: #F1F1F1;

body{
	background-color: $bgColor;
}

.home{
	width: 300px;
	margin: 50px auto 0;

	.titel{	
		h1{
			font-family: BigNoodleTitling, sans-serif;
			color: $loginColor;
			font-size: 5.8em;
			text-align: center;
		}
	}

	.homeWrap{
		background-color: $loginColor;
		width: 300px;
		height: 350px;
		padding: 20px;
		@include prefix(border-radius, 2px);
		@include prefix(box-shadow, 0px 0px 11px 0px rgba(50, 50, 50, 0.25));
	}
}

.loginHome{
	h1{
		color: $tussenTitelColor;
		font-size: 2.2em;
		font-family: BigNoodleTitling, sans-serif;
		margin: 0 0 10px 0;
	}
	.loginForm-item{
		width: 250px;
		height: 20px;
		padding: 5px;
		margin: 10px 0 5px 18px;
	}
	.loginBtn{
		width: 100px;
		height: 20px;
		padding: 5px;
		margin: 10px 0 5px 18px;
		border-radius: 0px;
	}
}

.registerHome{
	h1{
		color: $tussenTitelColor;
		font-size: 2.2em;
		font-family: BigNoodleTitling, sans-serif;
		margin: 50px 0 10px 0;
	}
	.registerBtn{
		display: block;
		text-align: center;
		width: 260px;
		height: 50px;
		margin: 10px 0 5px 18px;
		background-color: #FFFFFF;
		border: none;
		font-size: 1.8em;
		font-family: BigNoodleTitling, sans-serif;
		text-decoration: none;
	}
}

/*----------PROJECTENOVERZICHT-----------*/

.wrapper{
	width: 95%;
	margin: 20px auto;
	overflow: auto;
}

.projectPannel{
	width: 310px;
	height: 660px;
	padding: 20px;
	margin-right: 10px;
	background-color: $loginColor;
	float: left;
	@include prefix(border-radius, 2px);
	@include prefix(box-shadow, 0px 0px 11px 0px rgba(50, 50, 50, 0.25));

	h1{
		font-family: BigNoodleTitling, sans-serif;
		color: #FFFFFF;
		font-size: 3.3em;
		margin: 10px 0 30px 0;
		border-bottom: 1px solid #FFFFFF;
		padding-bottom: 10px;

		span{
			font-size: 0.6em;
		}
	}

	.intro{
		font-family: helveticaNeue, sans-serif;
		color: #FFFFFF;
		font-weight: lighter;
		font-size: 0.8em;
	}

	.addProject{
		display: block;
		width: 280px;
		height: 280px;
		margin: 30px auto;
		border: 2px solid #FFFFFF;
	}
}

.projectItem{
	width: 280px;
	padding: 15px;
	float: left;
	margin: 0 10px 0 0;
	background-color: $loginColor;
	@include prefix(border-radius, 2px);
	@include prefix(box-shadow, 0px 0px 11px 0px rgba(50, 50, 50, 0.25));

	h1{
		color: $tussenTitelColor;
		font-size: 2.2em;
		font-family: BigNoodleTitling, sans-serif;
		margin: 0 0 10px 0;
	}
	.tussenTitel{
		font-family: helveticaNeue, sans-serif;
		color: $tussenTitelColor;
	}
	.projectSession{
		width: 250px;
		height: 200px;
		border: 1px solid #FFFFFF;
		margin: 10px auto;
	}
}

.navBar{
	width: 100%;
	height: 10px;
	padding: 10px 0 10px 0;

	a{
		text-decoration: none;
		font-family: BigNoodleTitling, sans-serif;
		font-size: 1.4em;
	}

	.backBtn{
		margin-left: 40px;
	}

	.addBtn{
		margin-left: 40%;
		text-align: center;
	}

	.logoutBtn{
		float: right;
		margin-right: 40px;
	}
}