@import '_base';
@import '_login';
@import '_register';
@import '_nav';
@import '_projects';
@import '_whiteboard';

//PAS ALLE TRANSITIONS AAN MET PREFIX!!!!!!!!!!!!!!!!!!! -Jil moet dit doen

body{
	background-color: $bgColor;
	font-family: helveticaNeue, sans-serif;
}

#session_messages{
	transition: 1s;
	div{
		transition: 1s;
	}
}

.succes,.error{
	background: rgba(0,0,0,0.5);
	color: #FFFFFF;
	font-size: 0.9em;
	padding: 4px;
	width: 300px;
	margin-left: 18px;
	transition: 1s ease;
}

//verplaats naar whiteboard.css
.img_vervangenDoorCirkel{
	width: 100px;
	height: 100px;
	background-color: #F39A00;
	position: absolute;
	border-radius: 50%;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.video_vervangenDoorCirkel{
	width: 100px;
	height: 100px;
	background-color: #43BCE3;
	position: absolute;
	border-radius: 25%;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.postIt_vervangenDoorCirkel{
	width: 200px;
	height: 150px;
	background-color: #88B916;
	position: absolute;
	border-radius: 2%;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.todo_vervangenDoorCirkel{
	width: 150px;
	height: 250px;
	background-color: #FF0080;
	position: absolute;
	border-radius: 2%;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}