@import '_base';
@import '_login';
@import '_register';
@import '_nav';
@import '_projects';
@import '_whiteboard';

body{
	background-color: $bgColor;
	font-family: helveticaNeue, sans-serif;
}

#session_messages{
	transition: 1s;
	div{
		transition: 1s;
	}
}

.succes,.error{
	background: rgba(0,0,0,0.5);
	color: #FFFFFF;
	font-size: 0.9em;
	padding: 4px;
	width: 300px;
	margin-left: 18px;
	transition: 1s ease;
}